.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo-and-nav-container {
  display: flex;
}

.logo-title {
  color: white;
  font-size: 20px;
  margin-right: 24px;
  cursor: default;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
